{% load static %}
<!doctype html>
<html lang="pt-BR">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'teste.css'%}">
    <title>{% block 'titulo'%}{% endblock %}</title>
    {% block 'head' %}{% endblock %}
  </head>
  <body>
    <nav class="navbar navbar-dark bg-dark">
        <a class="navbar-brand" href="{% url 'home'%}">&nbsp&nbspCondomínio das Palmeiras</a>
        <a class="navbar-brand" href="{% url 'sair'%}">&nbsp&nbspSair</a>
        
    </nav>
    <nav class="navbar fixed-bottom navbar-dark bg-dark">
      <a class="navbar-brand" href="http://www.planalto.gov.br/ccivil_03/leis/l4591.htm">Lei nº 4.591</a>
      <a class="navbar-brand" href="{% url 'home'%}">Condomínio das Palmeiras</a>
      <a class="navbar-brand" href="mailto:palmeiras.condominio.adm@gmail.com">Fale Conoso</a>
    </nav>
    
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" ></script>
    {% block 'body'%}{% endblock %}
      
   
  </body>
</html>